body{

     margin:0;
     padding: 0;
     background-image: url("images/gamepic.jpeg");
     font-family: sans-serif;
     background-attachment: fixed;
     background-size:cover;

     }


.loginBox{
          position: absolute;

          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          width: 350px;
          min-height: 200px;
          background: linear-gradient(to top left, #000066 12%, #006600 85%);

          border-radius: 10px;
          padding: 40px;
          box-sizing: border-box;
          color: white;

          }


.loginBox input{
                width: 100%;
                margin-bottom: 20px;
                }


h3{
   margin: 0;
   padding: 0 20px;
   text-align: center;
   }


.loginBox input[type="Email"],
.loginBox input[type="password"]{
                                border:none;
                                border-bottom: 2px  solid white;
                                outline: none;
                                height: 40px;
                                color:#262626;
                                background: transparent;
                                font-size: 16px;
                                padding-left:  20px;
                                box-sizing: border-box;
                                }


.loginBox input[type="Email"]:focus,
.loginBox input[type="password"]:focus{
                                       border-bottom: 2px solid #f00;

                                       }
.inputBox{
          position: relative;
          }


.loginBox input[type="submit"]{
                               border: none;
                               height: 40px;
                               font-size: 16px;
                               background:#ed292a;
                               color:#fff;
                               border-radius: 20px;
                               }

.loginBox a{
            color: white;
            text-decoration: none;
            font-weight: bold;
            text-align: center;
            padding: 20px 10px;
            }
